{% extends 'base.html.twig' %}
{% block body2 %}
    <div class="arr" id="arr">
    <html>  <body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="titr" style="color:white ; font-size: 35px">Liste des hebergements</h1>
    {%set flashbag_notices=app.session.flashbag.get('notice')%}
    {%if flashbag_notices is not empty%}
        <center><ul class="error" >{%for notice in flashbag_notices%}
                {{notice}}
            {%endfor%}
        </ul></center>{%endif%}
    {%set flashbag_notices=app.session.flashbag.get('info')%}
    {%if flashbag_notices is not empty%}
        <center><ul class="success" >{%for info in flashbag_notices%}
                {{info}}
            {%endfor%}
        </ul></center>{%endif%}
    <center>

        {% for voyageorganise in voyageorganise %}
            <table id="customers" >
                <tr> <td  width="500">
                        <img src="{{ asset('resources/'  ~ voyageorganise.image )  }}" style="border-radius: 9%;" width="500" height="500">
                    </td>
                    <td >
                        <ul style="margin-left: 30px ; font-size: 25px ; ">
                            <li>Nom agence: {{ voyageorganise.nomAgence }}</li>
                            <li></li>
                            <li >Hotel: {{ voyageorganise.hotel }}</li>
                            <li> </li>
                            <li>Origine: {{ voyageorganise.origine }}</li>
                            <li></li>
                            <li>Pays destination:{{ voyageorganise.paysDestination }}</li>


                        </ul>
                    </td></tr><tr>
                    <ul><li>{{ socialButtons( {} ) }}</li>
                    </ul></tr>
            </table>
        <table>
            <tr>
                <td></td>
                <td><a href="{{ path('voyageorganise_afficheuser',{'id':voyageorganise.id}) }}" ><input value="Plus de détail!!" id="buttonn" class="buttonn"></a></td>


            </tr>
        </table>
            <br><br><br>


        {% endfor %}


    </table>
    </center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </body></html></div>
{% endblock %}




